body{
    background-color: lightyellow;
}
/*.=class*/
.navlink{
    font-weight: lighter;
}
.navlink:hover{
    font-weight: bolder;
    background-color: #eee
}
header{
    height:600px;
    width:100%;
    background-image: url("chicken.jpg");
    background-size: cover;
    text-align: center;
    color: lightyellow;
    font-family: 'Gloria Hallelujah', cursive;
}
header p{
    font-style: italic;
}
h3{
    font-size: xx-large
}
section{
    text-align: center;
    color: purple;
    font-size: x-large;
}
.aboutus{
    font-family: 'Shadows Into Light Two', cursive;
}
/*icons*/
.ourwork i{
    /*change icon size*/
    font-size: 35px;
    padding: 23px 20px;
    
    /*change color*/
    color: #FFF;
    background-color: #C5C5AD;
    
    /*change size*/
    width: 80px;
    height: 80px;
    
    /*make round*/
    border-radius: 50%;
}
.aboutus span{
    width: 150px;
    display: inline-block;
}
.ourwork{
    font-family: 'Schoolbell', cursive;
    color: #7957BC
}
.team img{
    width: 150px;
    height: 150px;
    /*center image*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}
.team{
    font-family: 'Caveat', cursive;
    color: #BB69DE;
}
.getinvolved{
    background-color: #49AFCE;
    text-align: center;
    padding: 50px 0px 80px;
    color: grey;
    font-family: 'Gochi Hand', cursive;
    margin-top: 50px;
    width: 100%;
}
.getinvolved h2{
    color: lightyellow;
}
.getinvolved i{
    color: #9F9292;
    /*change icon size*/
    font-size:40px;
    /*fit icon*/
    width: 50px;
    height: 40px;
}
.getinvolved .btn:hover{
    color: black;
}
.options{
    padding: 30px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: lightyellow;
    border-radius: 5px;
    margin-top: 30px;
}
.contact{
    margin-bottom: 80px;
    color: #7880F2;
    padding: 50px 0px 80px;
}
.contact .btn{
    width: 100%;
    font-size: 15px;
    background-color: #49AFCE;
    color: #49AFCE;
}
.contact .btn:hover{
    color: #FFF;
}